body{
    margin: 0;
    background-image: url(Images/Orange-WebBackgroud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
    
}
.container{
    width: 900px;
    margin: 0 auto;
    background-color: #F5B041;  
    display: block;
}

.container img{
   width: 500px;
    margin: 10px 400px 0 200px;

}

.container h2{
   text-align: center;
    margin: 5px;
}

.container p{
    padding: 5px;
}

header {
    background: rgb(220, 118, 51);       

}

header::after{
    content: '';
    display: table;
    clear:both;
}

nav {
    float: right;
}
nav ul{
    margin:0;
    padding: 0;
    list-style: none;
    float: right;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    
    position: relative;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    
}

nav a:hover{
    color:#000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width:100%;
}
.navBar{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
    
